<section id="contact">
    <div class="container">
        <div class="content">
            <h1 class="sectionTitle text-uppercase">contact</h1>

            <div class="title-underline">
                <div class="line1"></div>
                <div class="star-icon"><i class="fa-solid fa-star"></i></div>
                <div class="line2"></div>
            </div>
            
            <div class="form-box d-flex flex-column justify-content-start">
                <form action="" class="w-100">
                    <div class="inputContainer">
                        <input class="form-control" type="text" placeholder="Name">
                    </div>
                    <div class="inputContainer">
                        <input class="form-control" type="email" placeholder="Eamil">
                    </div>
                    <div class="inputContainer">
                        <input class="form-control" type="text" placeholder="Phone Number">
                    </div>
                    <div class="inputContainer">
                        <textarea placeholder="Message" id="" cols="80" rows="5"></textarea>
                    </div>
                </form>
                <button class="btn send-btn mt-3">Send</button>
            </div>
            
        </div>
    </div>
</section>