<section id="portfolio">
    <div class="container">
        <div class="content">
            <h1 class="sectionTitle text-uppercase">portfolio</h1>

            <div class="title-underline">
                <div class="line1"></div>
                <div class="star-icon"><i class="fa-solid fa-star"></i></div>
                <div class="line2"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5 ">
                    <div class="portfolio-item" (click)="openImg($event)">
                        <div class="portfolio-item-overlay h-100 w-100" (click)="openImg($event)">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <img src="../../../assets/images/cabin.png" class="w-100 img-holder" alt="">
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-4 mb-5 ">
                    <div class="portfolio-item">
                        <div class="portfolio-item-overlay h-100 w-100">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <img src="../../../assets/images/cake.png" class="w-100 img-holder" alt="">
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-4 mb-5 ">
                    <div class="portfolio-item">
                        <div class="portfolio-item-overlay h-100 w-100">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <img src="../../../assets/images/circus.png" class="w-100 img-holder" alt="">
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-4 mb-5 ">
                    <div class="portfolio-item">
                        <div class="portfolio-item-overlay h-100 w-100">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <img src="../../../assets/images/game.png" class="w-100 img-holder" alt="">
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-4 mb-5 ">
                    <div class="portfolio-item">
                        <div class="portfolio-item-overlay h-100 w-100">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <img src="../../../assets/images/safe.png" class="w-100 img-holder" alt="">
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-4 mb-5 ">
                    <div class="portfolio-item ">
                        <div class="portfolio-item-overlay h-100 w-100">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                        <img src="../../../assets/images/submarine.png" class="w-100 img-holder" alt="">
                    </div>
                   
                </div>
            </div>
        </div>
       
    </div>
</section>
