<section id="about">
    <div class="container ">
        <div class="about-content text-white">
            <h1 class="sectionTitle text-uppercase">About</h1>

            <div class="title-underline">
                <div class="line1"></div>
                <div class="star-icon"><i class="fa-solid fa-star"></i></div>
                <div class="line2"></div>
            </div>

            <div class="row about-cols mt-3 ">
                <div class="col-lg-4 ml-auto">
                    <p class="">
                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                    
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="">
                        You can create your own custom avatar for the masthead, change the icon in the dividers, and add
                        your email address to the contact form to make it fully functional!
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>