<div class="">
    <div class=" text-white p-3 text-center" id="footer1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-lg-3">
                    <h4>LOCATION</h4>
                    <br>
                    <p class="lead mb-0">2215 John Daniel Drive
                        <br>
                        Clark, MO 65243</p>
                </div>
                <div class="col-lg-4 mb-lg-3">
                    <h4>AROUND THE WEB</h4>
                    <br>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="socialMedia-icon"><i class="fa-brands fa-facebook-f"></i></div>
                        <div class="socialMedia-icon"><i class="fa-brands fa-twitter"></i></div>
                        <div class="socialMedia-icon"><i class="fa-brands fa-linkedin-in"></i></div>
                        <div class="socialMedia-icon"><i class="fa-brands fa-dribbble"></i></div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <h4>ABOUT FREELANCER</h4>
                    <br>
                    <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Route
                    </p>
                </div>
               
            </div>
        </div>
    </div>
    <div class="mt-0 p-3 " id="footer2">
        <div class="container text-center text-white">
            <p>Copyright © Your Website 2021</p>
        </div>
    </div>
</div>

