<section id="home">
    <div class="container ">
        <div class="home-content text-white">
           
                <img src="../../../assets/images/avataaars.svg" class="img-holder mb-3" alt="">

                <h1 class="sectionTitle text-uppercase">Start Angular</h1>
            
                <div class="title-underline">
                    <div class="line1"></div>
                    <div class="star-icon"><i class="fa-solid fa-star"></i></div>
                    <div class="line2"></div>
                </div>

                <p class="mt-3 home-subtitle">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>